gpiozero
pymitter
RPi.GPIO
sshkeyboard
websockets
adafruit-circuitpython-servokit
adafruit-board-toolkit
adafruit-blinka
adafruit-platformdetect
adafruit-circuitpython-ads1x15
adafruit-circuitpython-mcp230xx
adafruit-circuitpython-pca9685
#python-smbus - needs to be installed by sudo apt install python3-smbus 
